// Customize
// Shig
$primary-brand-color: #8dcaff;
$secondary-brand-color: #220122;

// Customize Bootstrap
$body-color: $secondary-brand-color;
$body-bg: #ffffff;

$blue: $primary-brand-color;
$primary: $primary-brand-color;
$secondary: $secondary-brand-color;
