# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.DS_Store
.idea
main
/bin/
/api/
/endpoints/
/util/
/doc/
/mon/dev/log/
doc/Links.md
shig.db
output.ivf
output.ogg
input.ivf
input.ogg
doc/Notes.md
doc/statistic.md
doc/product/busines.md
config.prod.toml
.shigClt.prod.toml

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/web/dist
/web/tmp
/web/out-tsc
/web/bazel-out

# Node
/web//node_modules
/web/npm-debug.log
/web/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/web/.angular/cache
/web/.sass-cache/
/web/connect.lock
/web/coverage
/web/libpeerconnection.log
/web/testem.log
/web/typings
/web/node_modules/

# App ignores
TestResults.json
/cmd/main.go
config-remote.toml
/docs/img/pipeline-i.png
/docs/img/pipeline-ii.png
/docs/img/pipeline.png
/shig-save.db
/shig.remote.db

# System files
Thumbs.db
