<div class="card-app">

  <div class="card-title">
    <h1>Password forget</h1>
  </div>

  <div>
    <p class="success" *ngIf="success">We received your request and send you an email!</p>
  </div>

  <form id="passForgetForm" class="form-group" [formGroup]="passForgetForm" (ngSubmit)="onSubmit()">
    <input name="email" type="email" formControlName="email" placeholder="Email">

    <div
      *ngIf="passForgetForm.get('email')?.invalid && (passForgetForm.get('email')?.dirty || passForgetForm.get('email')?.touched)"
      class="invalid">
      <p *ngIf="passForgetForm.get('email')?.errors?.['required']">Email is required!</p>
      <p *ngIf="passForgetForm.get('email')?.errors?.['email']">Provide a valid email!</p>
    </div>

    <button>Submit</button>
  </form>

  <div class="card-terms">
    <span>You don't have an account? <a href="/signup">Sign-up</a></span>
  </div>

</div>
