<div class="card-app">
  <div class="card-title">
    <h1>Create Account</h1>
    <span>Already have an account? <a routerLink="/login">Sign In</a></span>
  </div>
  <form class="form-group" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <input type="text" name="user" placeholder="User Name" formControlName="user">
    <input type="email" name="email" placeholder="Email" formControlName="email">
    <input type="password" name="password" placeholder="Password" formControlName="password">
    <input type="submit" value="Signup">
  </form>
  <div class="card-terms">
      <input type="checkbox"> <span> I have read and agree to the <a href="https://shig.de/?page_id=114">Terms of Service</a></span>
  </div>
</div>
