<header class="p-3 border-bottom text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-start">
      <a href="#" class="d-flex align-items-center  link-body-emphasis text-decoration-none">
        <img width="40" alt="Shig Logo" src="assets/icons/logo.png"/>
      </a>


      <ul class="nav col-auto col-lg-auto me-auto">
        <li class="px-2"><span>Shig</span></li>
        <!--        <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>-->
        <!--        <li><a href="#" class="nav-link px-2 link-body-emphasis">Inventory</a></li>-->
        <!--        <li><a href="#" class="nav-link px-2 link-body-emphasis">Customers</a></li>-->
        <!--        <li><a href="#" class="nav-link px-2 link-body-emphasis">Products</a></li>-->
      </ul>


      <!--      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">-->
      <!--        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">-->
      <!--      </form>-->


        <div class="dropdown text-end" *ngIf="(isUserLogin$ | async) == true">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
             aria-expanded="false">
            <app-avatar size="35" name="Enrico"></app-avatar>

<!--            <p class="avatar text-bg-secondary" alt="user" class="avatar rounded-circle">O</p>-->
          </a>
          <ul class="dropdown-menu text-small" style="">
            <li><a class="dropdown-item" href="/settings">Settings</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><button class="dropdown-item" (click)="logout()">Sign out</button></li>
          </ul>
        </div>


        <div class="col-md-3 text-end" *ngIf="(isUserLogin$ | async) == false">
          <a type="button" class="btn btn-outline-primary me-2" href="/login">Login</a>
          <a type="button" class="btn btn-primary" href="/signup">Sign-up</a>
        </div>


    </div>
  </div>
</header>
