@import "./../../../scss/variables";

header {
  background-color: $secondary-brand-color !important;
}

.dropdown-toggle {
  color: white !important;
}

.avatar {
  padding: 7px;
  background-color: $primary !important;
  color: $secondary-brand-color !important;
}
