* {
  box-sizing: border-box;
}

:host {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-form {
  width: 300px;
}
