<div class="card-app">

  <div class="card-title">
    <h1>Change Password</h1>
  </div>

  <div>
    <p class="success" *ngIf="success">Your password is changed!</p>
  </div>

  <div>
    <p class="fail" *ngIf="fail">Your password could not be changed!</p>
  </div>

  <form id="passForgetForm" class="form-group" [formGroup]="updateForm" (ngSubmit)="onSubmit()">

    <input name="orgPassword" type="password" formControlName="orgPassword" placeholder="Original Password">

    <div
      *ngIf="updateForm.get('orgPassword')?.invalid && (updateForm.get('orgPassword')?.dirty || updateForm.get('orgPassword')?.touched)"
      class="invalid">
      <p *ngIf="updateForm.get('orgPassword')?.errors?.['required']">Your original password is required!</p>
    </div>


    <input type="password" name="newPassword" formControlName="newPassword">

    <div
      *ngIf="updateForm.get('newPassword')?.invalid && (updateForm.get('newPassword')?.touched || updateForm.get('newPassword')?.dirty)"
      class="invalid">
      <p *ngIf="updateForm.get('newPassword')?.errors?.['uppercaseLetter']">At least one uppercase letter!</p>
      <p *ngIf="updateForm.get('newPassword')?.errors?.['lowercaseLetter']">At least one lowercase letter!</p>
      <p *ngIf="updateForm.get('newPassword')?.errors?.['digit']">At least one digit!</p>
      <p *ngIf="updateForm.get('newPassword')?.errors?.['specialCharacter']">At least one special character!</p>
      <p *ngIf="updateForm.get('newPassword')?.errors?.['minLength']">At least 8 characters long!</p>
    </div>

    <input type="password" name="confirmPassword" laceholder="Confirm Password" formControlName="confirmPassword">

    <div
      *ngIf="(updateForm.get('confirmPassword')?.invalid && (updateForm.get('confirmPassword')?.dirty || updateForm.get('confirmPassword')?.touched) || updateForm.errors?.['confirm'])"
      class="invalid">
      <p *ngIf="updateForm.get('confirmPassword')?.errors?.['required']">Your original password is required!</p>
      <p *ngIf="updateForm.errors?.['confirm']">Password doesn't match!</p>
    </div>

    <button>Submit</button>
  </form>

</div>
