<!--<div class="toolbar" role="banner">-->
<!--  <a href="#"><img-->
<!--    width="40"-->
<!--    alt="Angular Logo"-->
<!--    src="assets/icons/logo.png"-->
<!--  /></a>-->
<!--  <span>Shig</span>-->
<!--  <div class="spacer"></div>-->
<!--  <a href="/signup" class="btn btn-primary active" role="button" aria-pressed="true"-->
<!--     *ngIf="(user$ | async) == 'anonymous'">SignUp</a>-->
<!--  <div class="btn btn-outline-light" style="margin-left: 20px" (click)="logout()"-->
<!--       *ngIf="(user$ | async) == 'anonymous'">Login-->
<!--  </div>-->

<!--  <span *ngIf="(user$ | async) != 'anonymous'">{{ user$ | async }}</span>-->
<!--  <div class="btn btn-outline-light" style="margin-left: 20px" (click)="logout()"-->
<!--       *ngIf="(user$ | async) != 'anonymous'">Logout-->
<!--  </div>-->
<!--</div>-->

<main class="flex-grow-1">
  <app-header></app-header>
  <!-- Resources -->
  <router-outlet></router-outlet>
  <shig-loading-indicator></shig-loading-indicator>

  <!--  &lt;!&ndash; Footer &ndash;&gt;-->
  <!--  <footer class="border-top mt-2 fixed-bottom">-->
  <!--    <div class="nav justify-content-center pb-3 mb-3">-->
  <!--      <div class="nav-link px-2 text-muted">Love Shig?</div>-->
  <!--      <div class="nav-link px-2 text-muted">-->
  <!--        <a href="https://github.com/shigde/web-client" target="_blank" rel="noopener"> Give our repo a star.</a>-->
  <!--      </div>-->
  <!--      <div class="nav-link px-2 text-muted">-->
  <!--        <a href="https://github.com/shigde/web-client" target="_blank" rel="noopener" class="github-star-badge">-->
  <!--          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">-->
  <!--            <path d="M0 0h24v24H0z" fill="none"/>-->
  <!--            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>-->
  <!--          </svg>-->
  <!--          Star-->
  <!--        </a>-->
  <!--      </div>-->

  <!--      <div class="nav-link px-2 text-muted">-->
  <!--        <a href="https://github.com/shigde/web-client" target="_blank"-->
  <!--           rel="noopener">-->
  <!--          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">-->
  <!--            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/>-->
  <!--            <path d="M0 0h24v24H0z" fill="none"/>-->
  <!--          </svg>-->
  <!--        </a>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </footer>-->

  <svg id="clouds" xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'>
    <rect fill='#ffffff' width='24' height='24'/>
    <defs>
      <linearGradient id='a' x1='0' x2='0' y1='0' y2='1'>
        <stop offset='0' stop-color='#fffcff'/>
        <stop offset='1' stop-color='#8DCAFF'/>
      </linearGradient>
    </defs>
    <pattern id='b' width='8' height='8' patternUnits='userSpaceOnUse'>
      <circle fill='#ffffff' cx='4' cy='4' r='4'/>
    </pattern>
    <rect width='100%' height='100%' fill='url(#a)'/>
    <rect width='100%' height='100%' fill='url(#b)' fill-opacity='0.1'/>
  </svg>
</main>
