<div class="card-app">

  <div class="card-title">
    <h1>Change Password</h1>
  </div>

  <div>
    <p class="success" *ngIf="success">Your password was changed!</p>
  </div>

  <div>
    <p class="fail" *ngIf="fail">Your password could not be changed!</p>
  </div>

  <form id="passForgetForm" class="form-group" [formGroup]="passForgetForm" (ngSubmit)="onSubmit()">

    <input type="password" name="newPassword" placeholder="New Password" formControlName="newPassword">

    <div *ngIf="passForgetForm.get('newPassword')?.invalid && (passForgetForm.get('newPassword')?.touched || passForgetForm.get('newPassword')?.dirty)" class="invalid">
      <p *ngIf="passForgetForm.get('newPassword')?.errors?.['uppercaseLetter']">At least one uppercase letter!</p>
      <p *ngIf="passForgetForm.get('newPassword')?.errors?.['lowercaseLetter']">At least one lowercase letter!</p>
      <p *ngIf="passForgetForm.get('newPassword')?.errors?.['digit']">At least one digit!</p>
      <p *ngIf="passForgetForm.get('newPassword')?.errors?.['specialCharacter']">At least one special character!</p>
      <p *ngIf="passForgetForm.get('newPassword')?.errors?.['minLength']">At least 8 characters long!</p>
    </div>

    <input type="password" name="confirmPassword"  placeholder="Confirm Password" formControlName="confirmPassword">

    <div *ngIf="(passForgetForm.get('confirmPassword')?.invalid && (passForgetForm.get('confirmPassword')?.dirty || passForgetForm.get('confirmPassword')?.touched) || passForgetForm.errors?.['confirm'])"
         class="invalid">
      <p *ngIf="passForgetForm.get('confirmPassword')?.errors?.['required']">Your original password is required!</p>
      <p *ngIf="passForgetForm.errors?.['confirm']">Password doesn't match!</p>
    </div>

    <button>Submit</button>
  </form>

</div>
