/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


// scss-docs-start color-variables
$blue:    #8dcaff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
// scss-docs-end color-variables

root {
  --bs-btn-active-bg: #8dcaff;
  --bs-btn-active-border-color: #8dcaff;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #3f3b5e;
  //background-color: #8DCAFF;
  color: white;
  font-weight: 600;
  padding: 0 20px;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #mastodon-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #mastodon-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

svg.material-icons {
  height: 24px;
  width: auto;
}



.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}


.app-content {
  margin-bottom: 90px !important;
}

.lobby-quest-video-box {
  position: relative;
  flex: 1;
  padding: 2px;
}

.lobby-quest-video-box video {
  position: relative;
  border-radius: 25px;
  max-width: 100%;
}
.lobby-quest-video-box .control-bar {
  position: absolute;
  top: 10px;
  right: 15px;
}
